$Bright-orange: hsl(31, 77%, 52%);
$Dark-cyan: hsl(184, 100%, 22%);
$Very-dark-cyan: hsl(179, 100%, 13%);
$Transparent-white: hsla(0, 0%, 100%, 0.75);
$Very-light-gray: hsl(0, 0%, 95%);

$font-title: 'Big Shoulders Display', cursive;
$font-para: 'Lexend Deca', sans-serif;

@mixin flexbox($flex-direction: column){
    
    flex-direction: $flex-direction; 
    display:flex;
    justify-content: center;
    align-items: center;
}

*{
    box-sizing: border-box;
    margin: 0; 
    border: 0; 
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.5rem;
    width: 100vw;
    min-height: 100vh;
    @include flexbox();
    font-family: $font-para;
}

.container{
    @include flexbox($flex-direction: row);
    text-align: left;
    flex-wrap: wrap;
    margin: 10rem;

    span{
        font-family: $font-title;
        text-transform: uppercase;
        font-weight: 700;
        color: $Very-light-gray;
        font-size: 4rem;
        margin: 15%;
        
    }
    p{  
        font-size: 1.5rem;
        line-height: 2.5rem;
        //margin: 10% 20% 0% 15%;
        margin: 10% 25% 15% 15%;
        font-weight: 400;
        color:$Transparent-white;

    }
    img{
        margin: 12.5% 15%; 
    }
    button{
        color:$Transparent-white;
        font-size: 1.7rem;
        border-radius: 50px;
        padding: 5% 13%;
        //margin: 12.5% 15%;
        margin: 15%;
        font-weight: 700;
        font-family: 'Lexend Deca', sans-serif;
        cursor: pointer;
    }
    button:hover{
        background-color: transparent;
        color:$Very-light-gray;
        //border: 2px solid $Very-light-gray
        box-shadow: inset 0 0 0 2px $Very-light-gray;
    }
    &__img{
        width: 100%;
    }
    &__card1{
        width: 35rem;
        background-color: $Bright-orange;
        button{
            color:$Bright-orange;
        }
    }
    &__card2{
        width: 35rem;
        background-color: $Dark-cyan;
        button{
            color:$Dark-cyan;
        }

    }
    &__card3{
        width: 35rem;
        background-color: $Very-dark-cyan;
        button{
            color:$Very-dark-cyan;
        }
    }
    
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
     a { 
         color: hsl(228, 45%, 44%); 
        }
    }